.time-mess {font-size:10pt;
    margin:0px;
    padding: 0px;
}


.background-img {
    position:fixed;
    width:68vw;
    height:80vh;
    left:30vw;}
.last-mess{
    color: #b3b3b3;
    text-align:left;
}
.time-in-chat{
    color: #b3b3b3;
    display: inline;
    float: right;
   position:relative; left:auto;top:0px;right: 0px;
}
.global-menu{
    position:relative;
    width:40vw;
    height:90vh;
    border-radius:30px;
    border: 1px solid gray;
    background:white;
    top:10px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    overflow-y:auto;
    }

    .cont-ul {
        overflow:auto;
    }
.name-new-chat{
    width: 30vw;
    position:relative;
    margin-right:auto;
    margin-left:auto;
}
.message-other {
    position:relative;
    left:3vw;
    width:20vw;
    text-overflow:clip;
    background:#CFF4FC;
    color:#055160;
    border-radius: 5px;
    padding-left: 4px;
}
.pinned {
    background:#F1F1F1;
    width:100%;
    color:#6495ed;

}
.pinned-btn{
    background:#F1F1F1;
    width:90%;
    color:#6495ed;
    border-left: 6px solid #6495ed;
    margin-left: 6px;
    border-radius:3px;
    margin-top:2px;
    margin-bottom:3px;
    margin-right:0px;
    text-align:left;
}
.audio {
    width: 18 vw;
    object-fit: cover;
    display:flex;
    left: 0px;
}



.mess-img {
    width:18vw;
}

.answer-a {
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.2);
    color:rgba(1,1,1,1);
    text-decoration: none;

}

.z-d {
    position: absolute;
    top:0px;
    left: 0px
    display:none;
    background-color: rgba(0, 0, 0, 0.4);
    width:100vw;
    height:100vh;
    align-items: center;
  justify-content: center;
    }



.my-message {
    position:relative;
    max-width:20vw;
    position:relative;
    left:40vw;
    background-color: #D1E7DD;
    color:#0F5132;
    border-radius: 5px;
    padding-left: 4px;
}

.name-chat-div {width:90%;}
.kazbek-logo {}
.chat-header {

    display:flex;
}
.menu-chat-div-all{
    width: 200px;
position: relative;
    right: 5px;

}

.btn-three-point{position:relative;top:0px;right: 0px;}
.mess-admin {
    position:relative;
    width: 70vw;
    left:0vw;
    height:100%;
    max-height: 70vh;
    margin:0;
}

.content-div{

    height: 100%;
    max-height:70vh;
    flex-shrink:4;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
  }

.chat-cont{ height: 100vh;}
.edit-btn {
background:#199cff;
border: none;
border-radius: 10px;
color:white;
}


.edit-cont {
    position:relative;
    left:40px;
}
.form-group {
margin:none; margin-top: 10px;
position:fixed;
bottom: 0px;
}

.form2 {
    width:68vw;
    bottom:0vh;
    background-color: #cfe2ff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size:15pt;

}

.label-edit {
    height:40px;
    margin:0px;
    padding-left:20px;
    background-color:# E2E3E5;
}

.update {

}
.edit-btn-close {
    position:absolute;
    left:auto;
    right:0px;
    top: 5px;

}


.m-close {
    position:relative;
    left:auto;
    right:30px;
}


.mess {
    position:relative;
    width: 70vw;
    left:30vw;
    height:80vh;
    overflow-y: scroll;
    margin:0;
    -webkit-overflow-scrolling:touch;
}

.
.chat-btn {
    position:fixed;
    display:none;
    background-color:#f0f0f0;
    font-size:20pt;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    width: 200px;
    }


.call-kill {
    background: red;
    border-radius: 40px;
    border-radius: 40px;
}

.n-c{

  white-space: nowrap;
    text-align:left;
    margin-left:5px;
     padding-top:5px;
     width:80%;
    }


 .a-email {
 padding:3px;
    display: flex;
  color:black;
  background:white;
 border:1px solid gray;
 min-height:40px;
   width:30vw;
}


.gl-btn-close {
    margin:10px;
    margin-left:auto;
    margin-right:15px;
}


.name-menu{
    padding: 5px;
    font-size:30px;
}

.div-name-menu {
    width:40vw;
    display: flex;
  flex-flow: row wrap;
}

.cont-users{
    width:35vw;
}

.text-in-mess {
    overflow:none;
    overflow-y:hidden;
    margin:0px;
}


.content-email {
    position:relative;
    top:1;
    max-height:80vh;
    width:30vw;
    min-width: 160px;
     overflow-x: hidden;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);

 }
 .r-n {
    display:inline-block;
    background-color:red;
    color: white;
    border-radius: 10px;
     width:fit-content;
     min-width: 25  px;
 }
 .date_k {
    display:flex;
    justify-content:center;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    margin:auto;
    border-radius: 10px;
    }

.text-form {
max-font-size: 50px;
max-width:80vw;
    font-size:50px;
     color:blue;
     }

 .btn_down {position:fixed;
 bottom:17vh; right:2vw;background-color:#c0c0c0; border-radius:60px;}


.container-mess {
    scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}
.settings {
    width:30vw;

}
.text120 {
    width:180px;
}

.log-name{
    margin-left:5px;
    font-size:30px;
}

.log-img {height:70px;}

.emoji{
     display:inline-block;
    color: white;
    border-radius: 10px;
     width:fit-content;
     min-width: 25  px;
}




.context-menu {
    border: 4px solid #337AB7;
    background: #BFE2FF;
    width: 180px;
    height: 100px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin: 20px;
}


.context-menu-open {
    display: none;
    position: absolute;
    z-index: 99999;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 2px;
}


.context-menu-open ul {
    padding: 0;
    margin: 0;
}
.context-menu-open ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #BFE2FF;
}


.context-menu-open ul li:last-child {
    border-bottom: 1px solid transparent;
}
.main-menu {
    last-style:none;
  }

.context-menu-open ul li:hover {
    background-color: #BFE2FF;
}


.main-menu ul li:hover {
    background-color: #BFE2FF;
}


.label-block {
    border-bottom: 1px solid #BFE2FF;
}

.add-menu {
    width: 97%;
    position:relative;
    left:2vw;
    border:1px solid gray;
}


.close-btn {
    background:none;
    border:none;
}


.watch-img {
position:fixed;
height:100vh;
background:black;
top:0px;
width:100vw;
}
.car-img {height:90vh; max-width:90vw;  }


