@media screen and (width < 981px) and (pointer:none), (pointer:coarse) {
    .label-edit {
        font-size: 50px;
        max-height: 150px;
        height: 120px;
    }
    .last-mess{
        font-size: 40px;
    }
    .time-in-chat{
        font-size: 40px;
    }
    .log-img {height:10vh;}

    .log-name {font-size:40px;}

    .add-menu{width:100vw;}

    .html {font-size: 20px;}

    .form2 {
        font-size:50px;
    }

    .settings {
        font-size: 40px;
    }

    .text120{
        font-size:50px;
    }

    .global-menu {
        font-size: 30px;
    }

    .info-btn {
        font-size: 40px;
    }

    .date {
        font-size:14pt;
        text-align:center;
    }

    .a-email {width:100vw;
        font-size:40pt;
        border:none;
        border: 3px solid gray;
    }

    .chat-header {
        height: 125px;
        overflow:hidden;
    }

    .chat-cont{
        overflow: hidden;
        width:100%;
        height:100%;
    }
    .content-div{
        height: 70vh;
    }
    .content-email {
        width:98vw;
        font-size:20pt;}

    .chat-btn {
        display:block;
        top:7vh;
        font-size:30pt;
        border-radius:20px;
    }

    .mess-img {width:56vw;}

    .message-other {
        position:relative;
        left:3vw;
        font-size: 25pt;
        width:60vw;
        }

    .my-message {
        position:relative;
        left:3vw;
        font-size: 25pt;
        max-width:60vw;
        }

    .time-mess {
        font-size:16pt;
        float:none;
        margin:0px;
    }

    .my-message {
        font-size: 25pt;
        width:60vw;
        left:30vw;
        }

    .submit_btn{
        height: 80px;
        width:70px;
    }
    .download-img-a{
        right: 15vw;
    }
    .big-close-on-mobile{
        font-size: 7vw;
        right: 2vw;
    }

    .mess-admin {
        position:fixed;
        width:100vw;
        height:80vh;

    }


    .background-img {
        position:fixed;
        left:0vw;
        width:100%;
        height:100%;

    }

    .context-menu-open{
        font-size: 55px;
        width: 55vw;
    }

    .emoji-button {
     font-size: 55px;
}
}
