
@media screen and (width < 981px) and (pointer:none), (pointer:coarse) {
    .last-mess{
    font-size: 20px;
}
.time-in-chat{
 font-size: 20px;
}
    .log-img {height:10vh;}
    .log-name {font-size:40px;}
     .add-menu{width:100vw;}
    .html {font-size: 20px;}
    .container-mess {width:100vw;}
    .form2 {font-size:50px;width:100vw;}
    .settings {
    width:100vw;
    font-size: 30px;
    }
    .text120{font-size:50px; width:40vw;}
.form-group {width:100vw;}

    .global-menu {
        font-size: 30px;
        position:relative;
        width:95vw;
        left: 2.5px;
        margin-left:2.5vw;
        }



    .info-btn {
        font-size: 35px;
    }
    .mess {
        width:90vw;
        left:5vw;
    }
    .date {font-size:14pt;
    text-align:center;}

    .a-email {width:100vw;
    font-size:40pt;
    border:none;
    border: 3px solid gray;
    }
    .chat-header {
    height: 125px;
    }
    .content-email {
    width:98vw;
    font-size:20pt;}
    .chat-btn {
    display:block;
    top:7vh;
    font-size:30pt;
    border-radius:20px;}

    .mess-img {width:56vw;}
    .message-other {
        position:relative;
        left:3vw;
        font-size: 25pt;
        width:60vw;
        }
    .my-message {
        position:relative;
        left:3vw;
        font-size: 25pt;
        max-width:60vw;
        }

    .time-mess {
    font-size:16pt;
    float:none;
    margin:0px;

    }

    .my-message {
        font-size: 25pt;
        width:60vw;
        left:15vw;
        }


    .mess-admin {
        position:relative;
        width:90vw;

    }


    .background-img {
        position:fixed;
        left:0vw;
        width:100vw;
        height:100vh;

    }
}



.context-menu {
    border: 4px solid #337AB7;
    background: #BFE2FF;
    width: 180px;
    height: 100px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin: 20px;
}


.context-menu-open {
    display: none;
    position: absolute;
    z-index: 99999;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 2px;
}


.context-menu-open ul {
    padding: 0;
    margin: 0;
}
.context-menu-open ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #BFE2FF;
}


.context-menu-open ul li:last-child {
    border-bottom: 1px solid transparent;
}


.context-menu-open ul li:hover {
    background-color: #BFE2FF;
}


.add-menu {
    width: 97%;
    position:relative;
    left:2vw;
    border:1px solid gray;
}


.close-btn {
    background:none;
    border:none;
}


.watch-img {
position:fixed;
height:100vh;
background:black;
top:0px;
width:100vw;
}
.car-img {height:90vh;}


