.title {background: white;}


.form {
margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10%;
}



.background-img {position:fixed ;
width:68vw;
    height:80vh;}


.submit_btn {display:inline-block; margin:10px; height:50px;}



.container {
    max-width:100%;
    width:100%;
}


h2 {
    margin-left: 45px;
    margin-bottom: 100px;
 }


.names {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 427px;
    margin-top: 20px;
}


.edit {
    background: #007fff;
    border-radius: 5px;
    color:white;
    text-decoration:none;
    margin:10px;
}



.form-container {
    display:flex;
    justify-content:center;
}


.logo {
    position: relative;
    top:3vh;
    margin:2vh;
    text-align:center;
}

.close-btn {position:absolute;text-decoration: none; z-index:9999;}
.zatemnenie {
        background: black;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        text-align:center;
      }


.okno {
    text-align: center;
        padding: 15px;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: black;
        width: 60vw;
      }


.win {
    width: 60vw;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content:center;
}




.close {
      display: flex;
        text-align:right;
        width: 5vw;
        position: relative;
        color: #0000cc;
        padding: 12px;
        margin: 10px;
        text-decoration: none;
        background: black;
        font-size: 20pt;
        cursor:pointer;
        left: 90vw;
}


.my-a {text-decoration:none;max-width:10px; color:black; overflow:auto;}


.btn2 {margin:10px;}


.info-btn {border:0;background:none;}


.emojis {
  position: absolute;
  padding: 25px 15px 10px 20px;
  border-radius: 20px 0px 20px 20px;
  background-color: rgba(0, 0, 0, .3);
}

.emojis2>img {
  position: absolute;
  left: 100%;
  top: 0;
}

.smiley {
  position: absolute;
  top: 25px;
  left: 430px;
}


/*... input message ...*/

input[type=text] {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 37px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: rgba(0, 0, 0, .3);
}
