{% extends "admin_base.html" %}
{% block content %}
<h1>Пароль</h1> <input id="password" type="password">
<div style="display:flex;">
<div style="height:70vh; overflow-y:auto; width:40vw;">
    <h2>Управление пользователями</h2>

    {% for user in user_list %}
    <div class="alert alert-secondary">
        <h5>имя</h5>
        {{user.name}}
        <h5>USERNAME</h5>
        {{user.email}}(id_user: {{user.id}})
        <button class="btn btn-secondary" onclick="delete_user({{user.id}})">Удалить</button>
    </div>
    {% endfor %}
</div>
<div>
    <h2>Активность других администраторов</h2>
    <ul class="list-group">
    {% for i in range(activiti_list|length) %}
<li class="list-group-item">
    {{i + 1}}.
    {{activiti_list[i][0]}}
    {{activiti_list[i][1]}}
</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h2>Последнии действия администраторов</h2>
    <ul class="list-group">
        {% for action in actions %}
        <li class="list-group-item">
            кто: {{action.id_user}}
            что натворил:
            {{action.about}}
            когда
            {{action.time}}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
<div>
    <div>
        <h4>Голосования</h4>

    </div>
    <div>
        <h4>Назначение новых администраторов, удаление, расширение, отзыв прав</h4>
        <ul>
            {% for admin in activiti_list %}
            <li>
                {{admin.name}}
                разрещения
                <ol>
                    {% for i in range(permissions|length) %}
                    <li class="list-group-item">
                        {% if (i + 1)| string in admin.permissions.split() %}
                        {{permissions[i + 1]}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ul>
        <button class="edit-btn">Отправить на голосование</button>
        <button class="edit-btn">Назначить нового администратора</button>
    </div>
</div>
<script src="/static/javascript/panel/panel.js"></script>
{% endblock %}
