{% extends "base.html" %}

{% block content %}<link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <h1 class="login-h1">Авторизация</h1>
    <form action="" method="post" class="login-form">
        {{ form.hidden_tag() }}
        <p class="login-p">
            {{ form.username.label }}<br>

            {{ form.username(class="input-class form-control", type="username", contenteditable="true") }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="login-p">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control input-class", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger input-class" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="login-p">{{ form.remember_me( class="login-p") }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary login-p") }}</p>
        <a class="btn btn-primary info-btn login-p" href="/reset_password">Востановить пароль</a>
        <div class="login-p alert-danger">{{ message }}</div>
    </form>
{% endblock %}