{% extends "base.html" %}

{% block content %}
<div>
<h1 class="login-h1">Регистрация</h1>
<form class="login-form" action="" method="post">
    {{ form.hidden_tag() }}
    <p class="login-p">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="login-p">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="login-p">
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="login-p">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
     <input id="cbtn" type="checkbox" onclick="sogl()">
        <label for="submit">Согласие на обработку персональных данных</label>
    <p id="submit" style="display:none;">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
<script language="JavaScript">
    function sogl(){
        var c_btn = document.getElementById("cbtn");
        var s_btn = document.getElementById("submit");
        if (c_btn.checked){
        s_btn.style.display = "block";
        } else{
        s_btn.style.display = "none";
        }

    }
</script>
{% endblock %}