{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h1>Востановление пароля</h1>
<div class="alert alert-primary" role="alert">
    1 Востановить пароль можно если у вас совпадает username с вашим email
    или
    2 если у вас подключены уведомления через нашего telegram бота
</div>
<div id="global-div">
    <div id="second_hide">
        <label>Введите свой логин</label>
        <input id="login-input">
        <button class="btn btn-primary" onclick="send_num_code()">Отправить код в тг</button>
        </div>
<!--    hide div-->
    <div id="hide_password_div" style="display:none">

        <label>Введите код</label>
        <input name="dcode" id="dcode">
            <input id="login" style="display:none;" value="" name="login">
            <label>Новый пароль</label>
            <input name="new_password" id="new_password">
        <button onclick="check_code()" class="btn btn-primary">Проверить код</button>

    </div>
<script src="/static/javascript/reset_password.js"></script>
</div>

{% endblock %}