{% set date = [] %}
{%for mess in message %}
{% if date == [] or (date != [] and mess.get_date() != date[-1]) %}
{% if date.append(mess.get_date()) %}{% endif %}
<div class="date">{{ date[-1] }}</div>
{% endif %}
{% if current_user.email == mess.email_sender%}
<div class="alert alert-success my-message" id="m{{mess.id}}" role="alert" onclick="show_menu('{{mess.id}}')">
    {% if none != mess.img %}
    {% if ".jpeg" in mess.img or ".png" in mess.img  or ".bmp" in mess.img or ".jpg" in mess.img %}
        <button class="info-btn" onclick="showImg('watch', '{{mess.img}}')">
        <img class="mess-img" src="/static/img/{{mess.img}}"></button>
    {% else %}
    <a class="my-a" href="/static/img/{{mess.img}}">fail({{mess.img}})</a>
    {% endif %}
    {% endif %}
    <p id="text{{mess.id}}">
        {{mess.message}}
    </p>
    <p class="time-mess">{{mess.get_time()}} {% if mess.read %}
        <button type="button" class="info-btn " data-bs-toggle="tooltip" data-bs-placement="top"
                title="прочитано">
            ✓✓
        </button>
        {% else %}
        <button type="button" class="info-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                title="доставлено">
            ✓
        </button>
        {% endif %}
    </p>
    <div class="context-menu-open" id="{{mess.id}}" style="display:none;">
	<ul>
		<li onclick="delete_mess({{mess.id}})">Delete</li>
		<li onclick="answer({{mess.id}})">Answer</li>
		<li onclick="edit({{mess.id}})">edit</li>
	</ul>
</div>
</div>
{% else %}
<div class="alert alert-info message-other" role="alert" onclick="show_menu('{{mess.id}}')" id="m{{mess.id}}">
    {% if none != mess.img %}
{% if ".jpg" in mess.img  or ".png" in mess.img  or ".bmp" in mess.img or ".jpeg" in mess.img %}
    <button class="info-btn" onclick="showImg('watch', '{{mess.img}}')">
        <img class="mess-img" src="/static/img/{{mess.img}}"></button>
    {% else %}
    <a class="my-a" href="/static/img/{{mess.img}}">fail({{mess.img}})</a>
    {% endif %}
    {% endif %}
    <p id="text{{mess.id}}">
        {{mess.message}}
    </p>
    <p class="time-mess">{{mess.get_time()}}</p>
    <div class="context-menu-open" id="{{mess.id}}" style="display:none;">
	<ul>
		<li onclick="delete_mess({{mess.id}})">Delete</li>
		<li onclick="answer({{mess.id}})">Answer</li>
	</ul>
</div>
</div>
{% endif %}

{% endfor %}
<a href="#pos">
<svg class="btn_down" width="90px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
        <path d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
              fill="#ffffff"></path>
    </g>
</svg></a>
<div id="pos">

</div>